<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plugin Viewer</title>


        <!--- Required libraries for the front end and javascript part.-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="../pages/scripts/plugins.js"></script>
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index">FreeCoders</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="applications">Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mods">Mods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="plugins">Plugins</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="users">Users</a>
                        </li>
                        <% if(user == undefined){%>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                        <%}%>
                </ul>
                <% if(user != undefined){%>
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link right" href="myprofile">My Profile</a>
                        </li>
                </ul>
                <%}%>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
            <div class="card" style="margin: 2% auto; width: 35%" >
                <div class="card-header">
                    Plugin requested by: <%= recievedPlugins.userName %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= recievedPlugins.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Language: <%= recievedPlugins.language %>  -  Application: <%= recievedPlugins.game %> </h6>
                    <p class="card-text"><%= recievedPlugins.description %></p>
                    <a href="#" class="btn btn-primary">Join Project</a>
                </div>
            </div>
    </body>
</html>